#footer {
    background-color: #2b2b2b;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#footer>p {
    font-size: 16px;
    color: white;
    text-align: center;
}

#footer>hr {
    width: 10vw;
}

.githubImg {
    display: block;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;

    img {
        align-self: center;
        justify-self: center;
    }
}