#header {
    background-color: #2b2b2b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.seachInputWrapper {
    position: relative;
    display: inline-flex;
}

.searchInput {
    width: 25vw;
    padding: 10px 40px 10px 20px;
    border-radius: 30px;
    margin: 10px 0;
}

.searchInput:focus-visible {
    outline: #3f95d7 auto 1px;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #505050;
    font-size: 20px;
    transform: translate(0, -50%);
}

.githubImage {
    position: absolute;
    right: 30px;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
}

.viewStat {
    position: unset;
    margin: 12px 0;
}