.loader {
    animation: loaderAnimation 1s ease-in-out infinite forwards;
}

.content {
    flex: 1;
}

@keyframes loaderAnimation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}