.dashboardTop {
    color: #000000;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.urlInput {
    width: 50vw;
    height: 70px;
    padding: 0 80px 0 40px;
    margin-bottom: 20px;
    font-size: 14px;
    background: white;
    border: 1px solid #00000057;
    border-radius: 40px;
}

.urlInput:focus-visible {
    outline: #3f95d7 auto 1px;
}

.urlInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.urlInputWrapper,
.aliasInputWrapper {
    position: relative;
}

.submitButton,
.loadingButton {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    border-radius: 0 50px 50px 0;
    padding: 24px;
    color: #ffffff;
    background-color: #3f95d7;
    justify-content: center;
    align-items: center;
}

.loadingButton {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 80px;
    gap: 30px;
    margin-bottom: 14px;
}

.aliasInput {
    width: 20vw;
    height: 70px;
    padding: 0 40px;
    font-size: 14px;
    background: white;
    border: 1px solid #00000057;
    margin-bottom: 20px;
    border-radius: 40px;
    animation: fullWidth .3s ease-in-out forwards;
}

.errorText {
    color: red;
    font-size: 12px;
    margin: 8px 0 0 32px;
    position: absolute;
    bottom: -5px;
}

.inputError {
    border: 1px solid red;
}

.alias {
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    color: #3f95d7;
    margin-bottom: 25px;
    transition: color 0.2s ease-in;
}

.alias:hover {
    color: #1178c6;
}

.emptyLinkText {
    font-weight: 700;
    font-size: 32px;
    color: #505050;
    text-align: center;
}

@keyframes fullWidth {
    from {
        width: 0px;
    }

    to {
        width: 20vw;
    }
}