.linkCard,
.statCard {
    border: 1px solid #ddd;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: flex;
    flex-direction: column;
    animation: fadeIn .3s ease-in-out forwards;
}

.linkCard {
    width: 300px;
}


.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-wrap: anywhere;
}

.shortLinkContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.shortLinkContainer p {
    margin-bottom: 0;
    font-size: 16px;
}

.actionsContainer {
    display: inline-flex;
    gap: 10px;
    justify-content: end;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
}

a {
    color: #505050;
}

a:hover {
    color: #157fd0;
}

.shortLink {
    font-weight: 700;
    font-size: 18px;
    color: #3f95d7;
}

.longLink {
    font-weight: 400;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.8;
}

.cardBottomContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: end;
}

.cardBottom,
.cardBottom>div {
    justify-content: space-between;
    gap: 10px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.cardBottom>div {
    gap: 5px;
}

.clicks {
    color: rgb(27, 152, 27);
}

.createdText {
    font-size: 12px;
    color: #838383
}

.lastClicked {
    font-size: 12px;
    color: #838383;
}

.lastClicked span {
    font-size: 12px;
    color: #3f95d7
}

.statCard {
    width: 80vw;

    .shortLink {
        font-size: 32px;
    }

    .copyIcon {
        font-size: 20px;
    }

    .longLink {
        font-size: 16px;
        ;
    }
}